.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  z-index: 15;
  transition: 0.6s;
  background-color: #fff;
  height: 10vh;
}

.header_logo {
  position: relative;
}
.header_navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_navbar_li {
  position: relative;
  list-style: none;
}
.header_navbar_li_a {
  position: relative;
  margin: 0 2rem;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
  font-size: 1.25rem;
}
/* .header_navbar_responsive{
    position : relative;
    top: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
} */

@media (max-width: 768px) {
  .header {
    justify-content: space-around;
    padding: 25px 20px;
  }
}
