.services_sec {
  background: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow-x: hidden;
  padding: 0 11vw;
  margin-bottom: 50px;
}
.services_content {
  position: relative;
  width: 100%;
  /* padding: 3rem; */
}
.services_h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 1rem auto;
  font-size: 2rem;
  margin-top: 10vh;
}
.services_card_h3 {
  font-size: 40px;
  color: #ffffff;
  text-align: left;
  display: flex;
  align-items: center;
  height: 100%;
  width: 75%;
  margin: 0;
  margin-left: 150px;
}

.services_items {
  /* position: relative; */
  display: flex;
  /* flex-direction: column; */
  grid-gap: 1px;
  row-gap: 20px;
  column-gap: 20px;
  max-width: 100%;
  margin: 40px;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: #ffffff; */
  margin: auto;
  justify-content: center;
}

.services_box {
  position: relative;
  flex: 1 1 0%;
  border-radius: 10px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem 3rem;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  min-width: 100%;
}
.services_box2 {
  background: #46657a91;
  position: absolute;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
}
.services_header {
  display: flex;
  width: 100%;
}
.services_header2 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  top: 20px;
  left: 3rem;
  display: flex;
  border: #46657a solid 2px;
  justify-content: center;
  align-items: center;
}
.services_p {
  margin-bottom: 2rem;
}
.services_iconBx {
  margin-top: 25px;
}
.services_h2 {
  font-size: 25px;
  color: #46657a91;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  margin: 10px 0 0 150px;
}
.services_description {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services_transition {
  background-color: #a1b8d3;
  height: 20vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.services_description2 {
  padding-top: 10px;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.5px;
  margin-top: 70px;
}
.button_container {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 1500px) {
  .services_content {
    padding: 0 11vw;
  }
}

/* @media (max-width: 1280px) {
  .services_sec {
    padding: 30px;
  }
  .services_h3 {
    font-size: 35px;
  }

  .services_transition {
    background-color: #4c639a91;
    height: 30vh;
    width: 100%;
    margin-bottom: 0%;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .services_description {
    font-size: 1rem;
    text-align: center;
  }
}
.services_items {
  margin: 0px;
}
.services_content {
  position: relative;
  width: 100%;
  padding: 0;
} */
