/* .wrapper {
  padding: 100px;
  background: linear-gradient(to right, #dadde0, rgba(228, 228, 228, 0.585)),
    url(/assets/qualite.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin: auto;
  height: fit-content;
} */
