.services_sec {
  /* background: #fff; */
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.services_content {
  position: relative;
  text-align: center;
  width: 100%;
}
.services_mxw800 {
  max-width: 800px;
  margin: 0 auto;
}
.services_h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 30px;
  border-bottom: 5px solid #304b52;
  max-width: fit-content;
  margin: auto;
  text-transform: uppercase;
}
.services_p {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 60px;
  font-weight: 300;
  letter-spacing: 1px;
}
.services_items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.services_box {
  width: 300px;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.services_iconBx {
  margin-top: 25px;
}
.services_h2 {
  font-size: 20px;
  margin-bottom: 20px;
  height: 50px;
}
.services_description {
  font-size: 18px;
  background-color: #6385a0;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services_transition {
  background-color: #6385a0;
  height: 30vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.services_description2 {
  height: 150px;
  padding-top: 10px;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.5px;
}
.button_container {
  display: flex;
  justify-content: flex-end;
}
.button {
  border: #6385a0 1px solid;
  color: #6385a0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  display: block;
  justify-content: flex-end;
  /* margin: 15px auto; */
  padding: 15px 15px;
  height: fit-content;
}

@media (max-width: 1280px) {
  .services_sec {
    padding: 30px;
  }
  .services_h3 {
    font-size: 35px;
  }
  .services_p {
    font-size: 1.25rem;
  }

  .services_h2 {
    font-size: 20px;
    margin-bottom: 20px;
    height: 60px;
  }

  .services_transition {
    background-color: #6385a0;
    height: 30vh;
    width: 100%;
    /* margin-top: 60vh; */
    margin-bottom: 0%;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }
}
