.about_h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 30px;
  border-bottom: 5px solid #6385a0;
  color: #6385a0;
  text-transform: uppercase;
  text-align: left;
  display: block;
  line-height: 3rem;
}

.about {
  margin: 50px auto;
  /* width: 95%; */
  display: grid;
  grid-template: "text img ";
}

.about .contentBx {
  background: #fff;
  grid-area: "text";
  /* padding: 0 20px; */
}
.text {
  /* color: ##6385a0; */
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 1.6rem;
  padding: 1rem;
}
.about .imgBx {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: "img";
  float: left;
  /* margin: 1rem; */
}
/* .wrapper {
  float: right;
} */
/* .text2 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
} */
/* .flex {
  display: flex;
  flex-direction: column;
  width: 30%;
} */

@media (max-width: 425px) {
  .about {
    display: "flex";
    flex-direction: column;
  }
  .about .imgBx {
    float: inherit;
  }
  .about .wrapper {
    float: inherit;
  }
  .about .text {
    float: inherit;
  }
  .text {
    padding: 0.5rem 2rem;
  }

  /* .about .contentBx,
  .about .imgBx {
    width: 100%;
    padding: 10px 20px;
    min-height: 600px;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about_h3 {
    text-align: center;
  }
  .text {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: center;
  } */
}
@media (min-width: 425px) {
  .wrapper {
    padding: 0 2rem;
  }
  /* .about {
    display: "flex";
    flex-direction: column;
  }
  .about .imgBx {
    float: inherit;
  }
  .about .wrapper {
    float: inherit;
  }
  .about .text {
    float: inherit;
  }
  .text {
    padding: 0.5rem 2rem;
  } */
}
